<html>
    <body>
        <h1>Editing Book</h1>
        
        <%= form_with model: @book do |f| %>
            
            <p>Title</p>
            <%= f.text_field :title %>
            
            <p>Body</p>
            <%= f.text_area :body %>
            
            <div></div>
            <%= f.submit 'Update Book' %>
        
            <p><%= link_to "Show","/books/#{@book.id}" %>｜<%= link_to "Back","/books" %></p>
        <% end %>
    </body>    
</html>
